# Define Python
 Python is a High level programming language for general purpose and object oriented programming language.

## Create five valid and invalid variables

In [7]:
# Valid variables
S_name = "Deepu"
id123 = 19
_place = "Ongole"
S10_ = "Native place AP"
Name_frnds1 = "suppu"

In [3]:
# Invalid Variables
1_name = "sai"
@p = "Hyd"
*_class = 11
23$lang = "Telugu"
!_Frnd = "ram"

SyntaxError: invalid decimal literal (1214194589.py, line 2)

# Define List

* List is collection of different data types and It is mutuable which means we can change the elements inside a list , and it is represented in a square brackets [] and the elements inside the list seperated by comma (,).

In [13]:
List_1 =["Deepu",123,'A',"Ongole","Pace college",85,"Mango",2023,"Cricket",12.34]
print(List_1[0])
print(List_1[1])
print(List_1[2])
print(List_1[3])
print(List_1[4])
print(List_1[5])
print(List_1[6])
print(List_1[7])
print(List_1[8])
print(List_1[9])

Deepu
123
A
Ongole
Pace college
85
Mango
2023
Cricket
12.34

* Create a string

In [25]:
Str1 = "My name is Deepika"
print(Str1)

My name is Deepika

* Create a tuple

In [28]:
mytuple_1 = ("apple","carrot","Guva")
print(mytuple_1)

('apple', 'carrot', 'Guva')

* Create a dictionary

In [30]:
my_dictionary ={ "name" : "Ramya","ID" : 1234,"Clg" : "Gayathri"}
print(my_dictionary)

{'name': 'Ramya', 'ID': 1234, 'Clg': 'Gayathri'}

* Access the elements above data types

In [46]:
print(Str1[-1])
print(Str1[:11])

a
My name is

In [42]:
print(mytuple_1[2])
print(mytuple_1[:3])

Guva
('apple', 'carrot', 'Guva')

In [56]:
print(my_dictionary)

{'name': 'Ramya', 'ID': 1234, 'Clg': 'Gayathri'}

* Apply methods on each data types

## List Methods
* append
* extend
* insert
* remove
* index
* count
* clear
* max

In [98]:
a = [1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [100]:
b = [12,23,34,45,56]
c = [1,2,3]
b.extend(c)
print(b)

[12, 23, 34, 45, 56, 1, 2, 3]

In [102]:
d = [10,20,30,40,50]
d.insert(4,45)
print(d)

[10, 20, 30, 40, 45, 50]

In [104]:
e = [1.2,2.3,3.4,4.5,5.6]
e.remove(2.3)
print(e)

[1.2, 3.4, 4.5, 5.6]

In [106]:
f = [11,22,33,44,55,66]
g = f.index(11)
print(g)

0

In [108]:
h = [1.0,2.0,3.0,4.0,5.0,4.0,4.0,2.0]
i = h.count(4.0)
print(i)

3

In [110]:
cd = [12,32,46,68,32,11,21,10,8,6]
cd.clear()
print(cd)

[]

In [59]:
ef =[1,2,3,4,5,6,7,856,78]
print(max(ef))

856

## String Methods 
* upper(): Converts all characters in the string to uppercase.
* lower(): Converts all characters in the string to lowercase.
* capitalize(): Capitalizes the first character of the string.
* title(): Capitalizes the first character of each word in the string.
* strip(): Removes leading and trailing whitespace.

In [63]:
text = "gnanadeepika"
print(text.upper())

GNANADEEPIKA

In [65]:
text = "BALABHADRUNI"
print(text.lower())

balabhadruni

In [67]:
text = "hello world"
print(text.capitalize())

Hello world

In [69]:
text = "hello world"
print(text.title())

Hello World

In [71]:
text = "   hello world   "
print(text.strip())

hello world

## Tuple Methods
* count
* index

In [89]:
my_tuple = (10, 28, 24, 32, 64, 24)
print(my_tuple.count(24))

2

In [87]:
my_tuple = (10, 20, 30, 40, 30, 50)
print(my_tuple.index(30))

2

## Dictionary methods
* keys
* values
* items

In [75]:
print(my_dictionary.keys())

dict_keys(['name', 'ID', 'Clg'])

In [77]:
print(my_dictionary.values())

dict_values(['Ramya', 1234, 'Gayathri'])

In [79]:
print(my_dictionary.items())

dict_items([('name', 'Ramya'), ('ID', 1234), ('Clg', 'Gayathri')])